/* siit algab koodijupp "Animated Underline Hover" css osa, mis pärineb leheküljelt codepen.io ning autoriks on Justin (kasutajanimi @jst)*/
body,html { /*Siin tühistatakse varasemad kujundused ning valib fondi*/
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000;
  }
  ul { /* Siin kujundatakse html failis oleva ul (unordered list) sisu + paigutab selle lehe keskele*/
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li {  /* Siin kujundatakse eelneva listi elemente (display: table-cell paigutab elemendid horisontaalselt)*/
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a { /* Siin muudetakse klikatavaid elemente (Esileht, Retseptid, Meist) andes neile värv, muutes need suurteks tähtedeks jne*/
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after { /* Siin luuakse joon, mis ilmub kui hiirega elementide peal hõljuda */
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  } /*See osa võimaldab elementidel muutuda vastavalt akna suurusele, ehk kui aken on väiksem siis elemendid on ka väiksemad*/
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }