* {
    padding: 0;
    margin: 0;
}

html, body {
    /* height: 100%; */
    background-color: burlywood;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: azure;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 32px;
}

p {
    padding-bottom: 16px;
    line-height: 24px;
}

.logo {
    height: 100px;
    background-color: bisque;
}

.peatekst {
    padding: 16px;
}