* {
    padding: 0;
    margin: 0;
    --tumeroheline: #c6c78c;
    --loheroosa: #e7c39c;
    --kollaroheline: #e7df9c;
    --heleroheline: #dee79c;
    --hele: #efebd6;
}

html, body {
    /* height: 100%; */
    background-color: var(--tumeroheline);
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: var(--hele);
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 32px;
}

ul  {
    padding-left: 22px;
    margin-bottom: 16px;
}

li {
    padding-bottom: 8px;
}

p {
    padding-bottom: 16px;
    line-height: 24px;
}

.logo {
    height: 100px;
    background-color: var(loheroosa);
}

.peatekst {
    padding: 16px;
}