
#retseptipesa > p > img, #retseptipesa > img {
    width: 30%;
    display: inline;
}

.konteiner {
    display: flex;
    flex-direction: row;
}

.tekstikonteiner {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.peateksti-ja-siltide-konteiner {
    display: flex;
}


.retseptinimekirja-ja-siltide-konteiner {
    display: flex;
    flex-direction: row;
}

.peatekst {
    flex: 1;
    flex-direction: column;
    background-color: var(--heleroheline);
}

.sildid {
    flex: 2;
    background-color: var(--kollaroheline);
    display: flex;
    flex-wrap: wrap;
}

.sildid-pealkiri {
    width: 100%;
    background-color: var(--heleroheline);
    padding: 2px;
}

.silt {
    font-size: 0.5rem;
    text-align: center;
    margin: 2px;
    padding: 2px;
    padding-top: 10px;
    border: 2px solid var(--tumeroheline);
    background-color: var(--tumeroheline);
    width: 80px;
    height: 20px;
}

.silt:hover {
    background-color:beige;
    cursor: pointer;
}

.silt.vajutatud {
    background-color: var(--hele);
}

.silt.vajutatud:hover {
    background-color: white;
}

.retseptinimekiri {
    background-color: var(--kollaroheline);
    padding: 16px;
    flex: 1;
    flex-direction: row;
}

.retseptinimekiri > ul {
    list-style: none;
    padding: 0;
}

.retseptinimekiri > ul > li {
    background-color: var(--hele);
    border: 2px solid var(--tumeroheline);
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    padding: 4px;
    cursor: pointer;
}

.retseptinimekiri > ul > li:hover {
    background-color: white;
}

#retseptipesa {
    background-color: var(--hele);
}

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    .konteiner {
        flex-direction: column;
    }
}